body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98dvh;
  width: 98dvw;
}

.container{
  border-left: black solid 1px;
  border-bottom: black solid 1px;
  display: flex;
  flex-flow: column wrap;
  height: 500px;
  width: 500px;
  align-content: stretch;
  align-items: stretch;
  justify-content: space-between;
}

.line{
  border-top: black solid 1px;
  display: flex;
  flex:1;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}

.item{
  border-right: black solid 1px;
  flex:1
}